Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [1]:

import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data= data,index=labels )

print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [2]:
df.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

**3.** Return the first 3 rows of the DataFrame `df`.

In [3]:
print(df.iloc[0:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

In [4]:
print(df[['animal',"age"]])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

In [5]:
for index,row in df.iterrows():
    if(index == 'c') | (index == 'd') |(index == 'h'):
        print(index,row['animal'],row['age'])

c snake 0.5
d dog nan
h cat nan

**6.** Select only the rows where the number of visits is greater than 3.

In [6]:
df.loc[(df['visits'] > 3)]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [7]:
df.loc[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**9.** Select the rows where the age is between 2 and 4 (inclusive)

In [8]:
df.loc[(df['age'] >= 2) | (df['age'] <= 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

**10.** Change the age in row 'f' to 1.5.

In [9]:
newdf= df.at[5,'age']='1.5'

print(newdf)

1.5

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [10]:
Total = df['visits'].sum()
print(Total)

19.0

**12.** Calculate the mean age for each different animal in `df`.

In [11]:
print(df.groupby(['animal']).mean())

        visits
animal
cat        2.0
dog        2.0
snake      1.5

C:\Users\insre\AppData\Local\Temp\ipykernel_2772\2675797679.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby(['animal']).mean())

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [12]:
dict = {'animal':'lion',
        'age':['3'],
        'visits':['3'],
        'priority':['yes']
       }
  
df1 = pd.DataFrame(dict)
newdf = pd.concat([df, df1])
print(newdf)

  animal  age visits priority
a    cat  2.5    1.0      yes
b    cat  3.0    3.0      yes
c  snake  0.5    2.0       no
d    dog  NaN    3.0      yes
e    dog  5.0    2.0       no
f    cat  2.0    3.0       no
g  snake  4.5    1.0       no
h    cat  NaN    1.0      yes
i    dog  7.0    2.0       no
j    dog  3.0    1.0       no
5    NaN  1.5    NaN      NaN
0   lion    3      3      yes

**14.** Count the number of each type of animal in `df`.

In [13]:
df.groupby('animal').count()

        age  visits  priority
animal
cat       3       4         4
dog       3       4         4
snake     2       2         2

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [14]:
df.sort_values(['age','visits'],ascending=[0,1])

  animal  age  visits priority
5    NaN  1.5     NaN      NaN
i    dog  7.0     2.0       no
e    dog  5.0     2.0       no
g  snake  4.5     1.0       no
j    dog  3.0     1.0       no
b    cat  3.0     3.0      yes
a    cat  2.5     1.0      yes
f    cat  2.0     3.0       no
c  snake  0.5     2.0       no
h    cat  NaN     1.0      yes
d    dog  NaN     3.0      yes

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

In [15]:
new_df = df.loc[df['animal'] == 'snake' ,'animal'] = 'python'
print(new_df)

python

**18.** Load the ny-flights dataset to Python

In [16]:
import pandas as pd
airlinedf = pd.read_csv(r'ny-flights.csv')
print(airlinedf)

              fl_date unique_carrier  airline_id tail_num  fl_num origin dest  \
0       1/1/2014 0:00             VX       21172   N361VA      11    JFK  SFO
1       1/1/2014 0:00             VX       21171   N361VA      11    JFK  SFO
2       1/1/2014 0:00             VX       21171   N628VA      23    JFK  SFO
3       1/1/2014 0:00             VX       21171   N842VA     251    JFK  LAS
4       1/1/2014 0:00             VX       21171   N854VA      27    JFK  SFO
...               ...            ...         ...      ...     ...    ...  ...
20813  1/31/2014 0:00             WN       19393   N765SW    2786    ROC  BWI
20814  1/31/2014 0:00             WN       19393   N629SW     134    ROC  MCO
20815  1/31/2014 0:00             WN       19393   N943WN     694    ROC  MDW
20816  1/31/2014 0:00             WN       19393   N433LV    3561    ROC  MDW
20817  1/31/2014 0:00             WN       19393   N786SW    2677    ROC  TPA

       dep_time  dep_delay  arr_time  arr_delay  cancelled              arr  \
0         730.0        0.0    1056.0      -14.0          0   1/1/2014 10:56
1         730.0        0.0    1056.0      -14.0          0   1/1/2014 10:56
2        1030.0       -5.0    1417.0       12.0          0   1/1/2014 14:17
3         957.0       12.0    1306.0       31.0          0   1/1/2014 13:06
4        1631.0        1.0    2008.0       -2.0          0   1/1/2014 20:08
...         ...        ...       ...        ...        ...              ...
20813     634.0       -6.0     752.0       -3.0          0   1/31/2014 7:52
20814    1450.0       -5.0    1742.0        2.0          0  1/31/2014 17:42
20815     705.0       -5.0     822.0       17.0          0   1/31/2014 8:22
20816       NaN        NaN       NaN        NaN          1              NaN
20817    1139.0       -1.0    1426.0       -9.0          0  1/31/2014 14:26

                   dep
0        1/1/2014 7:30
1        1/1/2014 7:30
2       1/1/2014 10:30
3        1/1/2014 9:57
4       1/1/2014 16:31
...                ...
20813   1/31/2014 6:34
20814  1/31/2014 14:50
20815   1/31/2014 7:05
20816              NaN
20817  1/31/2014 11:39

[20818 rows x 14 columns]

In [17]:
print(airlinedf.head())

         fl_date unique_carrier  airline_id tail_num  fl_num origin dest  \
0  1/1/2014 0:00             VX       21172   N361VA      11    JFK  SFO
1  1/1/2014 0:00             VX       21171   N361VA      11    JFK  SFO
2  1/1/2014 0:00             VX       21171   N628VA      23    JFK  SFO
3  1/1/2014 0:00             VX       21171   N842VA     251    JFK  LAS
4  1/1/2014 0:00             VX       21171   N854VA      27    JFK  SFO

   dep_time  dep_delay  arr_time  arr_delay  cancelled             arr  \
0     730.0        0.0    1056.0      -14.0          0  1/1/2014 10:56
1     730.0        0.0    1056.0      -14.0          0  1/1/2014 10:56
2    1030.0       -5.0    1417.0       12.0          0  1/1/2014 14:17
3     957.0       12.0    1306.0       31.0          0  1/1/2014 13:06
4    1631.0        1.0    2008.0       -2.0          0  1/1/2014 20:08

              dep
0   1/1/2014 7:30
1   1/1/2014 7:30
2  1/1/2014 10:30
3   1/1/2014 9:57
4  1/1/2014 16:31

**19.** Which airline ID is present maximum times in the dataset

In [18]:
# maxcountdf = airlinedf.groupby(["airline_id"]).count().max()
# print(maxcountdf)

airlinedf['cnt'] = airlinedf.groupby(['airline_id'])['airline_id'].transform('count')
print(airlinedf[airlinedf.cnt == airlinedf.cnt.max()].airline_id)

#print(airlinedf['count'].max())

541     20409
542     20409
543     20409
544     20409
545     20409
        ...
5438    20409
5439    20409
5440    20409
5441    20409
5442    20409
Name: airline_id, Length: 4902, dtype: int64

**20.** Draw a plot between dep_delay and arr_delay